.container {
  width: 90%;
  height: auto;
  margin: 0px auto;
  border: 1px solid rgba(225, 225, 226, 0.8);
  box-shadow: 0px 0px 10px #ccc;
  margin-top: 40px;
  margin-bottom: 40px;
  min-height: 600px;
}

.header {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  width: 100%;
  height: 120px;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
}

.logo {
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  color: black;
  text-shadow: 1px 1px 0px #ccc;
  text-transform: uppercase;
}

.logo h1 {
  font-family: Helvetica;
  font-style: italic;
  font-weight: 900;
  font-size: 35px;
}

.menu {
  width: 100%;
  height: 100%;
  padding-right: 20px;
  text-align: center;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  height: 100%;
  list-style: none;
}

.menu a {
  text-transform: uppercase;
  color: #444;
  padding: 10px;
  transition: all 300ms;
}

.menu a:hover {
  background: #ccc;
  color: white;
}

.content {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-column-gap: 100px;
  align-items: start;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.proyects {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    30%
  ); /*para que calcule solo la cantidad de columnas que debe de crear*/
  grid-gap: 20px;
  align-items: start;
}

.proyect {
  min-width: 30%;
  margin-right: 20px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
}

.proyect img {
  width: 100%;
}

.info {
  padding: 10px;
}

.info a {
  font-size: 16px;
  color: black;
  transition: all 300ms;
  font-weight: 800;
}

.info a:hover {
  color: green;
}

.info p {
  font-size: 16px;
  color: gray;
}

.lateral {
  margin-right: 30px;
  padding: 15px;
}

.lateral h2 {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: 100; /* es el mínimo*/
  color: #444;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
  text-align: center;
}

.lateral ul {
  list-style: none;
}

.lateral ul li {
  padding-bottom: 20px;
}

.lateral a {
  display: block;
  text-align: center;
  padding: 20px;
  background: #eee;
  color: #444;
  transition: all 300ms;
  text-transform: uppercase;
}

.lateral a:hover {
  background: #444;
  color: #eee;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 25%;
  align-items: center;
  justify-content: start;
  height: 120px;
  border-top: 1px solid rgba(225, 225, 226, 0.8);
}

.footer .logo {
  opacity: 0.5;
  text-align: left;
  margin-right: 20px;
}

.footer .info {
  margin-left: 20px;
  color: #444;
}

/*RESPONSIVE*/

@media (max-width: 784px) {
  .header {
    grid-template-columns: 1fr;
    justify-content: center;
    height: 140px;
    padding-bottom: 20px;
  }

  .header h1 {
    text-align: center;
  }

  .content {
    grid-template-columns: 1fr;
    grid-column-gap: auto;
  }

  .proyects {
    grid-template-columns: 1fr;
    margin-left: 10px;
    margin-right: 10px;
  }

  .proyect {
    margin-left: 10px;
    margin-right: 10px;
  }

  .lateral {
    margin: 0px;
  }

  .lateral ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

  .footer{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer .logo {
    text-align: center;
  }
}
